<div class="container">
    <div class="left_column">
        <h1>
            Contact Us
        </h1>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nobis omnis dolore neque perferendis quidem
            corrupti.
        </span>
        <div class="box">
            <div class="line">
                <i class="fas fa-map-marker-alt fa-fw"></i>
                <div class="info">+(963) 953-883902</div>
            </div>
            <div class="line">
                <i class="far fa-clock fa-fw"></i>
                <div class="info">salam99shami@gmail.com</div>
            </div>
            <div class="line">
                <i class="fas fa-phone-volume fa-fw"></i>
                <div class="info"> Syria - Homs </div>
            </div>
        </div>
        <ul class="social">
            <li>
                <a href="#" class="facebook">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="form">

        <form action="">
            <input class="input" type="text" placeholder="Your Name" name="name" />
            <input class="input" type="email" placeholder="Your Email" name="email" />
            <input class="input" type="text" placeholder="Your Phone" name="mobile" />
            <textarea class="input" placeholder="Tell Us About Your Needs" name="message"></textarea>
            <input type="submit" value="Send" />
        </form>
    </div>
</div>