.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    gap: 10px;
}
.product {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}