<main>
    <div class="left_column">
        <h1>
            Find best and latest styles here
        </h1>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima omnis dicta asperiores maxime! Atque
            ratione
            debitis ipsam.

        </div>
        <div class="shopping_row">
            <button>Shopping Now </button>
            <i class='bx bx-play-circle'></i>
            <span>play video</span>
        </div>
    </div>
    <div class="image">
        <img src="https://mostafamhli.github.io/fashion-market/assets/imgs/header.png" alt="">
    </div>
</main>